body {
    padding: 10px;
}

button {
    margin-top: 5px;
}

ul {
    list-style-type: none;
    width: 400px;
    padding-inline-start: 0px;
    position: absolute;
    bottom: 5px;
}

li {
    padding: 1px;
}

li::after { 
    content: " ";
    display: block; 
    height: 0; 
    clear: both;
 }

li div {
    border-radius: 4px;
    max-width: 200px;
    padding: 5px;
}

li .received {
    float: left;
    background-color: rgb(240, 240, 240);
}

li .sent {
    float: right;
    background-color: rgb(199, 202, 235);
}

div.username {
    color: rgb(130, 130, 130);
}

#chat {
    height: 80vh;
    position: relative;
}

#message {
    width: 400px;
}